//colores
$rojo: rgb(175, 28, 28);
$azul: rgb(69, 38, 247);
$verde: rgb(55, 187, 14);
$negro: rgb(0, 0, 0);
$blanco: #ffffff;

//reset
$ancho: 100vh;
$alto: 100vh;

//media
$mobile: 578px;
$tablet: 992px;
$desktop: 1200px;


//carousel 
$carousel-indicator-width: 1500px;

//cards 


