
@import "colores";
@import "medidas";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    
}
h1{
    font-family: 'Comforter Brush', cursive;
    text-align: center;
    margin: 10px;
    font-size: 70px;
    color: rgb(102, 0, 0);
    
}
p {
    color: rgb(0, 0, 0);
}



/*animaciones*/
h1 {
    animation-duration: 4s;
    animation-name: aparecer;
 }
 
 
 @keyframes aparecer {
    from {
      opacity: 0;
      transform: translate(-500px);
    }
    to {
      opacity: 1;
    }
 }

.body_historia {
  height: auto;



}
.div_uno {

}

/*condicionales*/

.div_dos {
    @if $ancho == $mobile {
    color:$azul;
  } @else if $ancho == $tablet {
    color: $rojo;
  } @else if $ancho == $desktop {
    color: $verde;
  }
  @else {
    color: $negro;
  }
  }


/*BUCLES*/

@for $titulo from 2 to 4 {
    h#{$titulo} {
        font-style: italic;
        font-size: 2.5rem / $titulo;
        text-align: center;
        color: $azul;
    }
}
